<nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <a class="navbar-brand">Navbar</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="products" routerLinkActive="active">products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="services" routerLinkActive="active">services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about" routerLinkActive="active">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact" routerLinkActive="active">contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="blog" routerLinkActive="active">blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="template" routerLinkActive="active">template</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="reactive" routerLinkActive="active">reactive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="forms" routerLinkActive="active">Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="lazy" routerLinkActive="active">Lazy-App</a>
            </li>
        </ul>
    </div>
</nav>