<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">userId</th>
        <th scope="col">ID</th>
        <th scope="col">body</th>
        <th scope="col">title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p };let i =index">
        <th scope="row">{{i}}</th>
        <td>{{post.userId}}</td>
        <td>{{ post.id}}</td>
        <td>{{post.body}}</td>
        <td>{{post.title}}</td>
      </tr>
      
    </tbody>
  </table>
  
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
