<div class="container">
    <div class="row m-4">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item " routerLink="template-driven-froms" routerLinkActive="active"> Template Driven Forms</li>
                <li class="list-group-item" routerLink="reactive-forms" routerLinkActive="active">Reactive Forms</li>
                <li class="list-group-item" routerLink="form-arrays" routerLinkActive="active">Form Arrays</li>
               
              </ul>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>